{
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "rules": {
    "keyword-spacing": [
      2,
      {}
    ],
    "camelcase": [
      1,
      {
        "properties": "always"
      }
    ],
    "max-len": [
      2,
      100
    ]
  }
}
